.accordion__title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.accordion__title-container h1 {
	margin: 0;
}
.accordion__title-container h2 {
	margin: 0;
}
.accordion__title-container h3 {
	margin: 0;
}

.accordion__inner {
	visibility: hidden;
}

.accordion__inner.is-open {
	visibility: visible;
}