.sidebar {
	width: 20%;
	max-height: 100vh;
	overflow: auto;
	margin-right: 30px;
	padding-right: 20px;

	label {
		display: flex;
		flex-direction: column;

		input {
			width: 100%;
		}
	}

	ul {
		padding: 0;

		ul {
			padding-left: 20px;
		}
	}
}