.sidebar {
	width: 20%;
	max-height: 100vh;
	overflow: auto;
	margin-right: 30px;
	padding-right: 20px;
}
.sidebar label {
	display: flex;
	flex-direction: column;
}
.sidebar label input {
	width: 100%;
}
.sidebar ul {
	padding: 0;
}
.sidebar ul ul {
	padding-left: 20px;
}